@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
	--bg-color: #f4f4f4;
	--title-color: #475467;

	--button-background: #e6eaf0;
	--button-hover-background: #3a3a3d;
	--button-text: #344054;
	--button-hover-text-color: #fff;
	--button-border: #c6ccd7;

	-dropdown-title-color: #344054;

	--tile-background-color: #d0d5dd;
	--tile-highlight-color: #939393;

	--modal-text-color: #344054;

	--main-color: #a9efc5;
	--main-color-text: #079455;
}

body.dark-mode {
	--bg-color: #121212;
	--title-color: #fff;
	/* 
	--button-background: #f2f4f7;
	--button-hover-background: #3a3a3d;
	--button-text: #344054;
	--button-hover-text-color: #fff;
	--button-border: #e4e7ec; */

	--dropdown-title-color: #fff;

	--tile-background-color: #2c2c2c;
	--tile-highlight-color: #1a1a1a;

	--button-background: #2c2c2c;
	--button-text: #e4e7ec;
	--button-hover-background: #1a1a1a;
	--button-hover-text-color: #fff;
	--button-border: #2c2c2c;

	--modal-text-color: #e4e7ec;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	font-family: "Inter", sans-serif;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

html {
	font-size: 62.5%;
}
body {
	background-color: var(--bg-color);
	transition: all 0.3s;
	position: relative;
	width: 100%;

	height: 100vh;
}

html,
body {
	overscroll-behavior-y: none;
	overflow: hidden;
}

.testing-element {
	position: absolute;
	top: 0;
	left: 0;
	width: 10px;
	height: 10px;

	border: 1px solid red;

	z-index: 1000;
}

/* .container {
	width: fit-content;
	margin: 0 auto;
} */

.headline {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 3.2rem;

	margin: 0 auto;
	margin-bottom: 1rem;
	margin-top: 2rem;
	font-weight: 600;

	padding-bottom: 1rem;
	border-bottom: 1px solid #98a2b3;

	position: relative;

	padding-left: 5rem;
	padding-right: 5rem;

	width: fit-content;
}

.headline h1 {
	color: var(--title-color);
	font-size: 3.6rem;
}

.btn {
	padding: 0.8rem 1.6rem;
	background-color: var(--main-color);
	color: var(--main-color-text);
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 1.8rem;
	font-weight: 600;
}

.btn-headline {
	position: absolute;
	padding: 1rem 1rem;
	border-radius: 50%;
	cursor: pointer;
	border: none;

	width: 4.5rem;
	height: 4.5rem;

	font-size: 3.2rem;

	display: flex;
	justify-content: center;
	align-items: center;

	color: var(--button-text);
	border: 1px solid var(--button-border);
	background-color: var(--button-background);

	transition: all 0.3s;

	display: flex;
	justify-content: center;
	align-items: center;
}

.btn-help {
	right: 1rem;
}

.btn-theme {
	left: 1rem;
}

.btn-help:hover,
.btn-theme:hover {
	background-color: var(--button-hover-background);
	color: var(--button-hover-text-color);
}

.controls-holder {
	display: flex;
	justify-content: space-between;
	align-items: center;

	margin: 4rem auto;

	min-width: fit-content;

	gap: 1rem;
}
.btn-controlls {
	padding: 1rem 1rem;
	border-radius: 5px;
	cursor: pointer;
	border: none;

	font-size: 1.8rem;

	display: flex;
	justify-content: center;
	align-items: center;

	color: var(--button-text);
	border: 1px solid var(--button-border);
	background-color: var(--button-background);

	transition: all 0.3s;

	display: flex;
	justify-content: center;
	align-items: center;

	display: flex;
	gap: 1rem;

	font-weight: 600;

	-webkit-touch-callout: none;
}

.controlls-date {
	font-size: 2rem;
	font-weight: 800;
	color: var(--button-text);
}

.displaynone {
	display: none !important;
}

.dropdown {
	position: relative;
	display: inline-block;
	background-color: transparent;
	min-width: fit-content;
}

.dropbtn {
	color: var(--dropdown-title-color);
	background-color: transparent;
	border: none;
	cursor: pointer;
	font-size: 2rem;
	font-weight: 800;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;

	text-align: center;
}

.dropdown-content {
	display: none;
	position: absolute;
	z-index: 1;
	flex-direction: column;
	border-radius: 5px;
	overflow: hidden;
	width: 100%;
	min-width: fit-content;
	text-align: center;

	background-color: var(--button-background);
}

.dropdown-content a {
	color: var(--button-text);
	background-color: transparent;
	text-decoration: none;
	display: block;

	font-size: 1.8rem;

	padding: 1.2rem 1rem;
	transition: all 0.3s;

	cursor: pointer;
	border: 1px solid var(--button-border);
	border-bottom: none;

	text-align: center;
}

.dropdown-content a:first-child {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.dropdown-content a:last-child {
	border: 1px solid var(--gray-color-text);

	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.dropdown:hover .dropdown-content {
	display: flex;
}

.dropdown-content a:hover {
	background-color: var(--button-hover-background);
	color: var(--button-hover-text-color);
}
.piece {
	display: grid;

	gap: 0.6rem;
	width: fit-content;

	position: absolute;

	transition: top 0.1s, left 0.1s;
	z-index: 20;
}

.block {
	width: 7rem;
	height: 7rem;

	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 4rem;
	font-weight: 700;

	border-radius: 5%;
}

.right-hand {
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
}

.right-hand .block {
	background-color: #a9efc5;
	color: #079455;
}

.left-hand {
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
}

.left-hand .block {
	background-color: #fedf89;
	color: #dc6803;
}

.small-straight {
	grid-template-columns: repeat(1, 1fr);
	grid-template-rows: repeat(2, 1fr);
}

.small-straight .block {
	background-color: #fecdca;
	color: #d92d20;
}

.t-shape {
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(3, 1fr);
}

.t-shape .block {
	background-color: #e9d7fe;
	color: #7f56d9;
}

.tall-straight {
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(3, 1fr);
}

.tall-straight .block {
	background-color: #b2ccff;
	color: #155eef;
}

.game-board {
	display: grid;

	margin: 0 auto;
	position: relative;

	width: fit-content;

	gap: 0.6rem;
}

.grid-4 {
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(4, 1fr);
}

.board-square {
	width: 7rem;
	height: 7rem;

	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 4rem;
	font-weight: 700;

	border-radius: 5%;

	background-color: var(--tile-background-color);
}

.board-square.highlight {
	background-color: var(--tile-highlight-color);
}

.modal {
	visibility: visible;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	max-height: 90vh;

	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	z-index: 1100;
	background-color: var(--bg-color);

	width: min(90%, 50rem);

	opacity: 1;
	transition: opacity 0.5s, visibility 0s;

	text-align: center;
}
.modal-content {
	overflow-y: auto;
	flex-grow: 1;
	padding: 2rem;

	color: var(--modal-text-color);
}
.win-text,
.giveaway-text,
.giveaway-message {
	text-align: center;
}

.win-title,
.help-title {
	font-size: 2.4rem;
	font-weight: 600;
	margin-bottom: 2rem;
}

.win-text,
.help-text,
.giveaway-text,
.giveaway-message {
	font-size: 1.6rem;
	margin-bottom: 2rem;
}

.nomrg {
	margin: 0;
}

.giveaway-holder {
	display: flex;
	justify-content: center;
	align-items: center;

	gap: 1rem;
	margin-bottom: 2rem;
}

.giveaway-holder input {
	padding: 0.8rem 1.6rem;
	border-radius: 5px;
	border: 1px solid var(--button-border);
	background-color: var(--button-background);
	color: var(--button-text);
	font-size: 1.8rem;
	font-weight: 600;
}

.giveaway-holder button {
	padding: 0.8rem 1.6rem;
	border-radius: 5px;
	border: none;
	background-color: var(--main-color);
	color: var(--main-color-text);
	font-size: 1.8rem;
	font-weight: 600;
	cursor: pointer;
}

.help-gif {
	width: 100%;
	border-radius: 15px;
	margin-bottom: 2rem;
}
.special {
	font-weight: 600;
}

.timer {
	font-size: 2.4rem;
	font-weight: 800;
	margin-bottom: 2rem;
	color: var(--modal-text-color);
	position: fixed;

	bottom: 1rem;
	left: 50%;
	transform: translateX(-50%);

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.overlay {
	position: absolute;
	visibility: visible;
	opacity: 1;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.8);
	backdrop-filter: blur(3px);
	z-index: 5;
	transition: opacity 0.5s, visibility 0s;

	z-index: 1000;
}

.hidden {
	/* display: none; */
	visibility: hidden;
	opacity: 0;
}

.issue {
	position: absolute;
	bottom: 1rem;
	right: 1rem;
	font-size: 1.4rem;
	color: var(--title-color);
}

.alert {
	position: absolute;
	top: 5rem;
	left: 50%;

	transform: translateX(-50%);
	font-size: 3.2rem;
	color: #f4f4f4;
	background-color: rgba(7, 148, 84, 0.762);

	padding: 1rem 2rem;

	border-radius: 5px;
	z-index: -1000;
	opacity: 0;

	transition: all 0.3s;
}

.alert-shown {
	z-index: 1000;
	opacity: 1;
}
/* /////////////////////////////// */
/* /////////////////////////////// */
/* /////////////////////////////// */
/* /////////////////////////////// */
/* /////////////////////////////// */

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	background-color: transparent;
}

::-webkit-scrollbar {
	width: 12px;
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	/* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
	background-color: var(--text-color-light);
}

@media (max-width: 480px) or (max-height: 660px) {
	html {
		font-size: 57%; /* 9.12px */
	}

	h1 {
		font-size: 3.6rem;
	}

	.btn-help {
		right: 0.5rem;
	}
	.btn-switch {
		left: 0.5rem;
	}

	.game-mode-text {
		font-size: 2rem;

		margin-top: 2rem;
		margin-bottom: 1rem;
	}

	.date {
		font-size: 2.4rem;

		/* margin-bottom: 7rem; */
	}
	.grid-container.grid-5 ~ .colors {
		grid-template-columns: repeat(3, 1fr);
	}
	.grid-container.grid-6 ~ .colors {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2) {
	html {
		font-size: 55%; /* 8.8px */
	}
}
@media (max-height: 830px) {
	html {
		font-size: 51%; /* 8.16px */
	}
}
@media (max-height: 770px) {
	html {
		font-size: 50%; /* 8.16px */
	}
}
@media (max-height: 605px) {
	html {
		font-size: 50%; /* 8px */
	}

	h1 {
		font-size: 3.2rem;
	}
}
@media (max-height: 700px) {
	html {
		font-size: 47%; /*7.52px*/
	}
}
@media (max-height: 660px) {
	html {
		font-size: 44%; /*7.04px*/
	}
}

@media (max-width: 390px) {
	html {
		font-size: 7px;
	}
}

@media (max-height: 610px) {
	html {
		font-size: 40%; /*6.4px*/
	}
}

@media (max-width: 440px) {
	html {
		font-size: 37.5%; /* 6px */
	}

	.win-text,
	.giveaway-text,
	.giveaway-message {
		font-size: 2.6rem;
		text-align: center;
	}

	.win-title {
		font-size: 3.2rem;
	}

	.button-holder {
		margin-top: 1.8rem;
	}
	.btn {
		font-size: 2.4rem;
	}
}

@media (max-width: 350px) {
	html {
		font-size: 6px;
	}
}

@media (max-width: 300px) {
	html {
		font-size: 5px;
	}
}
